In [1]:
import os

from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
SEP       = os.path.sep
ROOT_PATH = SEP.join(os.getcwd().split(SEP)[:-2])
DATA_PATH = f'{ROOT_PATH}/Dataset/GlobalPop/GlobalPop.csv'

In [3]:
df = pd.read_csv(DATA_PATH)
df.head(3).T

                                 0            1            2
Country                Afghanistan  Afghanistan  Afghanistan
Year                          2017         2018         2019
Total Population                 -   36,686,784   37,769,499
Urban Population                 -    9,353,296    9,727,157
Rural Population                 -   27,333,488   28,042,342
Population Density              55           56           58
Life Expectancy               63.0         63.0         64.0
Birth Rate                  37.342       36.927       36.466
Death Rate                   7.027        6.981        6.791
Fertility Rate               5.129        5.002         4.87
Infant Mortality Rate         49.4         47.8         46.3
Growth Rate                      -          3.0          3.0

In [4]:
df[df['Country'] == 'South Korea']

,Country,Year,Total Population,Urban Population,Rural Population,Population Density,Life Expectancy,Birth Rate,Death Rate,Fertility Rate,Infant Mortality Rate,Growth Rate
873,South Korea,2017,-,-,-,527,83.0,7.0,5.6,1.052,2.8,-
874,South Korea,2018,"51,585,058","42,020,672","9,564,386",529,83.0,6.4,5.8,0.977,2.8,0.0
875,South Korea,2019,"51,764,822","42,152,095","9,612,727",530,83.0,5.9,5.7,0.918,2.7,0.0
876,South Korea,2020,"51,836,239","42,201,956","9,634,283",531,83.0,5.3,5.9,0.837,2.6,0.0
877,South Korea,2021,"51,744,876","42,127,573","9,617,303",-,84.0,5.1,6.2,0.808,2.5,0.0