In [1]:
from skorch.helper import DataFrameTransformer
from skorch import NeuralNetClassifier
from sklearn.pipeline import Pipeline
from pycaret.datasets import get_data
from pycaret.classification import *
from sklearn.metrics import *
import torch.optim as optim
import torch.nn as nn
import numpy as np
import pycaret

In [2]:
data  = get_data('electrical_grid')

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [3]:
target = 'stabf'
data[target].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [4]:
data[target] = data[target].replace({'unstable' : 1, 
                                     'stable' : 0}).astype(np.int64)

train        = data.sample(frac = 0.95, random_state = 99)
test         = data.drop(train.index)

train.reset_index(inplace = True, drop = True)
test.reset_index(inplace  = True, drop = True)

clfl         = setup(data       = train, target = target,
                     train_size =  0.8, fold   =      5,
                     session_id =  999, log_experiment = False,
                     experiment_name = 'electrical_Grid_ml')

In [5]:
best_model  = compare_models(sort = 'AUC')
tuned_model = create_model('catboost')
tuned_model = tune_model(tuned_model)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

In [6]:
tuned_model = finalize_model(tuned_model)
prediction  = predict_model(tuned_model, test)

In [7]:
preds = prediction['prediction_label']
gt    = test[target]

print(classification_report(preds, gt))

              precision    recall  f1-score   support

           0       0.96      0.95      0.95       182
           1       0.97      0.97      0.97       318

    accuracy                           0.96       500
   macro avg       0.96      0.96      0.96       500
weighted avg       0.96      0.96      0.96       500

In [8]:
class Net(nn.Module):
    
    def __init__(self, num_inputs = 12, num_units_d1 = 200, num_units_d2 = 100):
        
        super(Net, self).__init__()
        self.dense0  = nn.Linear(num_inputs, num_units_d1)
        self.nonlin  = nn.ReLU()
        self.dropout = nn.Dropout(0.5)
        
        self.dense1  = nn.Linear(num_units_d1, num_units_d2)
        self.output  = nn.Linear(num_units_d2, 2)
        
        self.softmax = nn.Softmax(dim = -1)
        
    
    def forward(self, X, **kwargs):
        
        X = self.nonlin(self.dense0(X))
        X = self.dropout(X)
        
        X = self.nonlin(self.dense1(X))
        X = self.softmax(self.output(X))
        
        return X

In [9]:
class customNLLLoss(nn.Module):
    
    criterion = nn.NLLLoss()
    
    def __init__(self):
        super().__init__()
        
    def forward(self, logits, target):
        return self.criterion(logits, target.long())

In [10]:
net = NeuralNetClassifier(
        module = Net, criterion = customNLLLoss,
        max_epochs = 30, lr = 0.1, batch_size = 32, train_split = None
    )

nn_pipe = Pipeline([
            ("transform", DataFrameTransformer()),
            ("net", net),
        ])

In [11]:
skorch_model = create_model(nn_pipe) 
best_model   = compare_models(include = [skorch_model, tuned_model], sort = "AUC")

In [12]:
custom_grid = {
                'net__max_epochs' : [  20, 30],
                'net__lr'         : [0.01, 0.05, 0.1],
                'net__module__num_units_d1' : [50, 100, 150],
                'net__module__num_units_d2' : [50, 100, 150],
                'net__optimizer'            : [optim.Adam, optim.SGD, optim.RMSprop]
            }

tuned_skorch_model = tune_model(skorch_model, custom_grid = custom_grid)
best_model         = compare_models(include = [tuned_skorch_model, skorch_model, tuned_model], sort = "AUC")

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).